body{
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-container{
    background-color: aliceblue;
    margin: 20px;
    padding: 30px;
    border-radius: 25px;
    border: 2px solid black;
}

.input-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    column-gap: 15px;
}

#pass-label{
    font-size: 25px;
    font-weight: 700;
}

#password{
    margin: 15px;
    width: 500px;
    height: 25px;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}

#strength{
    margin: 15px;
    height: 20px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    
    justify-self: center;
}
#result{
    background-color: azure;
    font-size: large;
    
}
.required-valid{
    color: green;
}
.required-invalid{
    color: red;
}
.strong{
    color: azure;
    background-color: green;
    justify-self: center;
    padding: 10px;
}

#reset{
    margin-top: 20px;
    font-size: large;
    padding: 10px;
    border-radius: 15px;
    background-color: brown;
    color: aliceblue;
    padding-left: 30px;
    padding-right: 30px;
}